<ul class="dropdown-menu dropdown-menu-right profile-menu">
    <li class="dropdown-item">
        <div class="profile-section">
            <a href="#" class="img-link ">
                <span class="rounded-circle profile-img bg-secondary pt-3 text-center text-light h5 text-uppercase">@ViewBag.UserProfile.UserName[0]</span>
            </a>
            <a href="/employees/update">
                <ul class="list-unstyled info-list">
                    <li class="info-item-heading">@ViewBag.UserProfile.UserName</li>
                    <li class="info-item-mail text-muted">@ViewBag.UserProfile.Email</li>
                    <li class="info-item-label">view profile</li>
                </ul>
            </a>
        </div>
    </li>

    <li role="separator" class="dropdown-divider"></li>

    <li class="dropdown-item">

        <a href="/employees/update">
            <span class="fa fa-pen font-icon"></span>
            <span class="link-text">Edit Profile</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-users font-icon"></span>
            <span class="link-text">Update Career Interestis</span>
        </a>
    </li>

    <li role="separator" class="dropdown-divider"></li>

    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-users font-icon"></span>
            <span class="link-text">Career Coaching</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-book font-icon"></span>
            <span class="link-text">Career Readings</span>
        </a>
    </li>

    <li role="separator" class="dropdown-divider"></li>

    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-phone font-icon"></span>
            <span class="link-text">Help Center</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-exclamation-circle font-icon"></span>
            <span class="link-text">About Us</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-handshake font-icon"></span>
            <span class="link-text">Become a Partener</span>
        </a>
    </li>
    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-envelope font-icon"></span>
            <span class="link-text">Contact Us</span>
        </a>
    </li>

    <li role="separator" class="dropdown-divider"></li>

    <li class="dropdown-item">
        <a href="#">
            <span class="fa fa-cogs font-icon"></span>
            <span class="link-text">Acount Settings</span>
        </a>
    </li>

    <li class="dropdown-item">
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <span class="fa fa-sign-out-alt font-icon"></span>
            <span class="link-text">Log Off</span>
        </a>
    </li>

</ul>

















<!--*****************************************-->











